extends base
block title
	日志分类

block content
	for category in  sorted_by_position(categories)
		.post_group
			.group_name
				a(href='/category/{{category.path}}')= category.title
			div(style="margin-top:10px;")
				span.post_count
					{{category.posts_count}} 篇文章
	include include/paginator

block side_content
	include include/tag_cloud_count
