for post in posts
	.item
		span
			a.title(href=post.url)= post.title
		span.date= post.date.format('%Y-%m-%d')
		.raw_content
		if post.tags
			for tag in post.tags
				span.tag_item
					a(href='/tags/'+tag)= tag
			if post.visits
				span.visit_count
					访问量：{{post.visits}}
			else
				span.visit_count= '访问量：0' 
			.clear
include include/paginator

